.slider {
  width: var(--width);
  height: var(--height);
  position: relative;
  overflow: hidden;
}

.sliderWindow {
  position: absolute;
  left: var(--left);
  right: var(--right);
  top: 0;
  bottom: 0;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  border-left: 6px solid rgba(255, 255, 255, 0.55);
  border-right: 6px solid rgba(255, 255, 255, 0.55);
}

.sliderWindow::before,
.sliderWindow::after {
  content: "";
  position: absolute;
  width: var(--width);
  height: var(--height);
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.sliderWindow::before {
  left: 0;
  transform: translateX(-100%);
}
.sliderWindow::after {
  right: 0;
  transform: translateX(100%);
}
